@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 50px;
}
  
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(autofill, 11, 1fr);
  margin: 50px;
  border: solid;
  width: 90%;
}

.companies {

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px;
}

.company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
}